p.MuiTypography-root.MuiTypography-body1 {
    font-size: 15px;
}

.MuiPaper-root.makeStyles-header-6.MuiPaper-elevation0 h1 {
    font-size: 3rem;
}

svg.MuiSvgIcon-root {
    background-color: white;
    border-radius: 50%;
}

svg.MuiSvgIcon-root path {
    color: black;
}

.MuiPaper-root.MuiMobileStepper-root.MuiMobileStepper-positionStatic.MuiPaper-elevation0 {
    background-color: #eeeeee00;
}

.bookingbtn {
    color: black;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(250, 149, 34);
    font-size: 15px;
    transition: 0.3s;
    color: white;
}

.bookingbtn:hover {
    background-color: rgb(196, 109, 10);
}

.bookingbtn a {
    color: white;
    text-decoration: none;
}

.details {
    height: 50%;
}

.bt {}

/* .MuiTouchRipple-root {
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
} */